certifi
chardet
click
et-xmlfile
Flask
Flask-Cors
idna
itsdangerous
jdcal
MarkupSafe
Werkzeug
-e "git+https://github.com/HumanCellAtlas/ingest-client.git@38029350cfbfa3fc8fda21b1392368e62bfeff6b#egg=hca_ingest"
jsonpickle
expiringdict
jsonpath-rw
